.catalogPage {
    /*padding: 30px 100px;*/
}

.catalog-tools-div {
    border: 1px solid #000;
    padding: 30px 100px;
    background-color: rgba(130, 194, 16, 0.89);
}

.catalog-tools-div > form > select {
    margin-right: 40px;
    background-color: #e5cb49;
}

.catalog-tools-div > form > button {
    float: right;
    padding: 3px 30px;
    border-radius: 5px;
    background-color: #e5cb49;
}

.catalog-of-items-container {
    padding: 120px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-search-container {
    margin-top: 30px;
    margin-left: 1345px;
}

.header-search-container > input {
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 40px;
}

.header-search-container > button {
    padding: 3px 30px;
    border-radius: 5px;
    background-color: #e5cb49;
}